:root{
	--border-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.2);
	--primary-color: #6200EE;
	--primary-color-light: rgb(72, 46, 107);
	--light-light-gray: #f5f5f5;
	--disabled-color: #aaaaaa;
	--secondary-color: #03DAC6;
	--error-color: #B00020;
}

h1{
	margin: 0;
	margin-bottom: 1rem;
	background-color: var(--primary-color-light);
	box-shadow: 0 -1px 3px 1px rgba(0, 0, 0, 1);
	padding: 0.5rem 2rem;
	color: white;
	text-shadow: -1px 1px 2px black;
}

main{
	width: 100%;
}

html{
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
	margin: 0rem;
}

button{
	cursor: pointer;
}

form{
	display: grid;
	grid-template-columns: auto;
	justify-items: center;
	grid-gap: 0.5rem;
	padding: 0.2rem 1rem;
}

form button{
	border: 0;
	background-color: var(--primary-color);
	max-width: max-content;
	font-size: 12px;
	padding: 0.3rem 1rem;
	border-radius: 7%;
	color: white;
	text-transform: uppercase;
	transition: 1s;
}

form button.enabled{
	border: 1px solid transparent;
}

form button.disabled{
	color: rgb(44, 44, 44);
	background-color: transparent;
	border: 1px solid gray;
}

@keyframes rotate{
	from{
		transform: rotate(0deg);
	}
	to{
		transform: rotate(360deg);
	}
}

form button.disabled::before{
	content: "⭮";
	font-size: 10px;
	display: inline-block;
	position: relative;
	margin-right: 0.2rem;
	animation: rotate 1s linear infinite;
}

form button::before{
	display: contents;
	content: "🞤";
	letter-spacing: 0.1rem;
}

form textarea{
	resize: none;
	border: 2px solid transparent;
	background-color: var(--light-light-gray);
	height: max-content;
	box-shadow: -2px 2px 4px 1px rgba(0, 0, 0, 0.2);
	transition: 100ms;
	width: 100%;
}

form textarea:hover, form textarea:focus{
	box-shadow: -3px 3px 4px 1px rgba(0, 0, 0, 0.2);
	transform: scale(1.02);
	outline: 0;
}

ul{
	/* max-width: 100%; */
	display: grid;
	width: 100%;
	margin: 0;
	padding: 0;
}

ul button.disabled, ul button.disabled:hover, ul button.disabled:active, ul button.disabled:focus{
	background-color: gray;
	box-shadow: none;
	transform: none;
	cursor: auto;
}

.error{
	border-bottom: 1px solid var(--error-color);
}
/* #endregion */

/* #region Todo-item */

.todo-item{
	display: grid;
	grid-template-columns: auto max-content;
	padding: 0.5rem 0.5rem;
	background-color: var(--light-light-gray);
	margin: 1rem 1rem;
	box-shadow: -2px 2px 4px 1px rgba(0, 0, 0, 0.2);
	width: calc(100% - 3rem);
}

.todo-item p{
	height: max-content;
	word-wrap: break-word;
	overflow: auto;
	width: 100%;
}

.todo-item button{
	border-radius: 100%;
	width: 25px;
	height: 25px;
	font-size: 20px;
	border: 0;
	padding: 0;
	user-select: none;
	box-shadow: -1px 1px 4px 1px rgba(0, 0, 0, 0.3);
	transition: 1000ms cubic-bezier(0.075, 0.82, 0.165, 1);
	background-color: var(--primary-color);
	color: white;
}

.todo-item button:hover, .todo-item button:focus{
	box-shadow: -2px 2px 4px 1px rgba(0, 0, 0, 0.3);
	transform: scale(1.1);
	outline: 0;
}

.todo-item button:active{
	transition: 100ms;
	box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 1);
	outline: 0;
	transform: scale(1);
}
/* #endregion */